*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

header{
    background-color:white;
}


li{
    list-style: none;
}


nav ul li a{
    color:grey;
    text-decoration:none;
}

.navbar{
    min-height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 24px;
}

.nav-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.nav-branding{
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color:grey;
    text-decoration:none;
}

.nav-link{
    transition:0.7s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size:23px;
}

.nav-link:hover{
    color:dodgerblue;
}


.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:grey;
}

.hamburger{
    display:none;
    cursor:pointer;
}




@media(max-width:838px){
.hamburger{
    display:block;
}

.hamburger.active .bar:nth-child(2){
    opacity:0;
}


.hamburger.active .bar:nth-child(1){
    transform:translateY(8px)rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform:translateY(-8px)rotate(-45deg);
}


.nav-menu{
    position:absolute;
    left:-100%;
    top:70px;
    padding-top:10px;
    padding-bottom:15px;
    gap:0;
    flex-direction:column;
    background-color:#d4d2d25a;
    width:100%;
    text-align: center;
    transition:0.5s ;
}


.nav-menu.active{
    left:0;
}


nav ul li a{
    color:black;
    text-decoration:none;
}



}
/*krejt kodi per navbar*/

/*Slider*/

#imazhi {
    width: 100%;
    height: auto;
}

/*teksti ne slider*/
.slide {
    position: absolute;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 30px;
    line-height: 1.5;
    display: none;
  }
  
  .slide-text {
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    color: rgb(189, 27, 27);
    font-size: 30px;
    text-align: center;
    padding: 10px;
  }
  
  .slide.active {
    display: block;
  }
  
  
  @media (max-width: 768px) {
    .slide {
      font-size: 16px;
      flex:auto;
     
    }
  }

  /*fotoja me pershtrim anash*/
.fp-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .fp1 {
    flex: 1;
    
  }
  
  @media (max-width: 768px) {
    .fp-container {
     margin-top: 20px;
     margin-bottom: 30px;
      flex-direction: column-reverse;
     
    }
  }
  
  
   /*thenia*/
   #thenie{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }
  
    /*slideri lojerave*/
  .slider-container2 {
    display: flex;
    align-items: center;
  }
  
  .slide2 {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  
  .slide-title2 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .slider-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  .prev {
    left: 0;
    order: -1;
  }
  
  .next {
    right: 0;
    order: 1;
  }
  
  
  /* slidshow normal*/
.slider-container2 {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .slide2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .slide2 img {
    width: 100%;
    height: auto;
  }
  
  .slide-title2 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  /* responsive slideshow?*/
  @media (max-width: 800px) {
    .slider-container2 {
      flex-direction: row;
    }
  
    .slide2 {
      height: 300px;
    }
  }
  








